body{
  height: 100vh;
}


.App {
  text-align: center;
}


.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.Dashboard-div{

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Dashboard-div1{

  display: flex;
  flex-wrap: wrap;
}

.box{
  background-color: black;
  display: flex;
  gap: 10px;
}

.sidebar{
  
  height: 100vh;
  
}



.childcontainer{

  height: 80vh;
}

.DocBox{

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 20px;
  margin-top: 20px;
  
  
}
.masterDocBox{
  height: 80vh;
}






